#main_title{

      text-align: center;
      background-color: #333;
      color: #fff;
      padding: 20px;
      letter-spacing: 2px;
      font-weight: 500;
}

.box1 h1{
      float: left;
}

.box1 button{
      float: right;
}
.container{
      margin-top: 50px;
}

h5{
      text-align: center;
      color: red;
}
.t1{
      text-align: center;
}

.update{
     
      background-color: lightgray;
      height: 300px;
      width: 500px;
      padding: 30px;
}